# =============== #
# Unity generated #
# =============== #
EnvDataStore.cs
EnvDataStore.cs.meta

Temp/
Obj/
UnityGenerated/
Library/
Logs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============ #
# for others   #
# ============ #
.vscode
.idea
*.log
sysinfo.txt