# =============== #
# Unity generated #
# =============== #
Assets/Project/Scripts/EnvDataStore.cs
Assets/Project/Scripts/EnvDataStore.cs.meta

Temp/
Obj/
UnityGenerated/
Library/

*.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ===== #
# Notes #
# ===== #
*.csv

# ====== #
# Sounds #
# ====== #
*.wav
*.mp4
*.mp3

# ============ #
# for others   #
# ============ #
.vscode
*.log
sysinfo.txt